# ---- Core Machine Learning & Data ----
tensorflow
keras
scikit-learn
python-multipart
pandas
numpy
joblib
protobuf
uvicorn
fastapi
# ---- Computer Vision ----
opencv-python-headless
mediapipe
transformers
tf-keras
python-dotenv
torch
tokenizers
# ---- Web App & Streaming ----
firebase-admin
crewai
drill
